html{
	scroll-behavior: smooth;
}


/* header */

.header{
	padding: 40px 0;
}

.menu ul{
    margin-left: auto;
} 
.menu ul li{
	padding: 0 20px;
}
.menu ul li a{
	font-size: 16px;
	font-weight: 500;
	color: #626262;
	text-transform: uppercase;
}
.banner{
	width: 110%;
}
/* header */



/* Comment */

.comment{
	margin: 70px;
}
.comment h5{
	color: #626262;
	text-transform: uppercase;
}
.comment p{
	font-size: 14px;
	margin-top: 3px;
	text-align: justify;
}
.comment h1{
	color: #818181;
}
.comment a{
	text-decoration-color: black;
}



/* Comment */


/* Gallery */

.gallary{
	padding-bottom: 40px;
}
.gallary h5{
	color: #626262;
	text-transform: uppercase;
	padding: 15px 0;
}
.gallery p{
	font-size: 12px;
	margin-top: 3px;
}
.gallery h2{
	color: #818181;
}
.content{
	padding: 15px 0;
}

/* Gallery */

/* sign up */


.text h3{
	text-align: center;
	margin: 40px;
}
}

.signup{
	padding: 80px 0;
	background-color: #f0f0f0;
}
.form-custom{
    border:none;
    border-bottom: 2px solid;
    margin-bottom: 15px;
}
.input-group{
	border-bottom: 2px solid;
}
.input-group-text{
	border:none;
	background-color: transparent;
}
.btn-custom{
	padding: 10px 15px;
	font-size: 15px;
	font-weight: 600;
	color: white;
	background-color: red; 
	text-transform: uppercase;
}

.btn-edit{
	border:1px solid;
	font-size: 20px;
	padding: 15px;
	text-transform: uppercase;
	border-radius: 0;
	font-weight:500;
}


/* sign up */


/*footer*/

.footer{
	background-color: #f0f0f0;
}
.info li a{
    text-decoration: none;
    color: black;
}
.link li a{
    text-decoration: none;
    color: black;
}
/*footer*/